/* ======================================reset-strat========================================= */
body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ol,ul,li,form,table,th,td,a,img,span,strong,var,em,input,textarea,select,option{margin: 0; padding: 0;font-size: 14px;}
html,body{font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif; font-size: 14px; text-align: left;position: relative;}
ul,ol{list-style: none;}
img{border: 0;width: 100%; display: block;}
input,select,textarea{outline:0;}
textarea{resize:none; overflow: auto;}
table{border-collapse: collapse; border-spacing: 0;}
th,strong,var,em{font-weight: normal; font-style: normal;}
a,a:link, a:visited{text-decoration: none;}
/* ===========================================reset-end========================================== */


/* ======================================common-strat========================================= */
.aud-container{
	width:1180px;
	margin:0 auto;
}
/* ======================================common-end========================================= */

/* ======================================header&footer-strat========================================= */
.index-nav{
	height:90px;
}
.index-nav div{
	overflow:hidden; 
}
.index-logo{
	float:left;
	color:#333;
	font-size: 18px;
	padding-left:87px;
	padding-bottom: 20px; 
	padding-top:40px;
	
	background:url('/images/logo.png') no-repeat 0 18px;
	background-size:80px 58px;
}
.index-nav-right{
	float: right;
	overflow: hidden;
	height:30px;
	line-height: 30px;
	padding:30px 0;
}
.index-nav-right,.index-nav-right a{
	color:#777777;
	cursor:pointer;
}
.index-nav-right .userpic{
	width:30px;
	height:30px;
	background-image:url('/images/userpic.jpg');
	background-repeat:no-repeat;
	background-size:cover;
}
.index-nav-right li{
	float: right;
}
.index-nav-right .sign-inup{
	margin-left:53px;
	margin-right: 14px;
}
.index-nav-li{
	margin:8px 0;
	height:14px;
	line-height: 14px;
	padding-right: 52px;
}
.index-news{
	border-right: 1px solid #777777;
}
.index-logo{

}
.common-footer{
	font-size:12px;
	width:100%;
	height:120px;
	line-height: 120px;
	background-color:#3d3d3d;
}
.common-footer,.common-footer a{
	color:#dfdfdf;
}
.common-footer .aud-container{
	zoom:1;
}
.outer {}    /*==for IE6/7 Maxthon2==*/
.common-footer .aud-container :after {
    clear:both;
    content:'.';
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
}   /*==for FF/chrome/opera/IE8==*/
.footer-logo{
	float: left;
	margin-top:31px;
	width:168px;
	height:58px;
	background: url('/images/footer-logo.png') no-repeat 0 0;
}
.footer-center{
	float: left;
	overflow: hidden;
	margin-left: 260px;
}
.footer-center li{
	float: left;
	margin-right: 36px;
}
.footer-right{
	float: right;
	padding-right:2px;
	position: relative;
}
.footer-right .erweima{
	cursor: pointer;
}
.footer-right-erwema{
	display: none;
	position: absolute;
	top:-143px;
	right: 0;
	z-index: 100;
	width:160px;
	height:160px;
	background:#fff url('/images/index-erweima.jpg') no-repeat 8px 8px;
	background-size: 144px 144px;
	-webkit-box-shadow: -2px -2px 7px -2px #ccc;
  	-moz-box-shadow: -2px -2px 7px -2px #ccc; 
  	box-shadow: -2px -2px 7px -2px #ccc; 
}
.footer-right span{
	display: none;
	position: absolute;
	top:17px;
	right: 0;
	width: 0;
    height: 0;
    border-top: 16px solid #fff;
    border-left: 16px solid transparent; 
}
/* ======================================header&footer-end========================================= */

/* ======================================index-strat========================================= */
.carousel-inner,.carousel-inner .item{
	width:100%;
	height:500px;
}
.carousel-inner .item img{
	width:100%;
	height:500px;
}
.carousel-caption{
	top:0px;
	padding:0;
	text-align: center;
}
.carousel-caption h3{
	margin-top:173px;
	font-size:53px;
}
.carousel-caption-button{
	width:218px;
	margin:0 auto;
	height:62px;
	line-height: 62px;
	color: #fff;
	font-size:30px;
	background-color: #ffc600;
	margin-top:32px;
	position: relative;

}
.carousel-caption-button p{
	position: absolute;
	width:218px;
	height: 62px;
	top:6px;
	left:6px;
	z-index: -10;
	background:transparent;
	border:2px solid #ffc600;
}

.show-more{
	width:100%;
	height:580px;
	background-color: #f6f6f6;
}
.swiper-containe{
	width:100%;
}
.swiper-slide{
	width:200px;
	height:300px;
	background: red;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}


.index-hot-top{
	margin:65px 0 5px;
	overflow: hidden;
}
.index-hot-top h2{
	height:20px;
	line-height: 20px;
	font-size:20px;
	color:#333;
	float: left;
}
.index-hot-top a{
	margin-left:22px;
	float: left;
	color:#adadad;
	margin-top:4px;
}
.index-hot-content li{
	overflow: hidden;
	padding-top:20px;
}
.index-hot-content li img{
	float: left;
	width:300px;
	height:200px;
}
.index-hot-right{
	width:880px;
	color:#666;
	float: left;
	padding-left:20px;
	padding-right: 34px;
}
.index-hot-title{
	color:#333;
	margin-top:20px;
	font-size:16px;
}
.index-hot-speaker{
	margin-top:16px;
}
.index-hot-time{
	margin-top:10px;
}
.index-hot-detial{
	margin-top:15px;
	line-height: 20px;
}
/* ======================================index-end========================================= */

